[Desktop Entry]
Type=Application
Exec=/home/ubuntu/my_terminal_autostart/autostart.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=ROS Workspace Autostart